:host {
  .wrapper {
    margin: auto;
    .quote {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid gray;
      }
    }
    .quote-again {
      margin-top: 20px;
      text-align: center;
    }
  }
}
